@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
  --primary:#1a116b;
  --secondary:#ccc;
}
/* general */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  font-weight: 400;
}
#root, .App, body{
  height: 100vh;
}
body{
  font-size: 16px;
  background-color: var(--primary);
}
.box{
  max-width: 700px;
  width: 90%;
  background-color: white;
  margin:40px auto;
  padding: 30px;
  border-radius: 10px;
}
.box::before, .box::after{
  content: '';
  display: block;
  clear: both;
}
.btn{
  padding: 15px 45px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  font-family: 'Montserrat', serif;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  outline: none;
  text-decoration: none;
  }
/* Home Component */
  .home h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    }
    .home p{
        line-height: 22px;
        margin-bottom: 10px;
    }
    .home p span{
        font-weight: 500;
    }
    .home .btn{
      margin-top: 20px;
  }
  /* Quiz Component */
  quiz >div{
    width: 100%;
    float: left;
}
.quiz .question-number{
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--secondary);
    text-transform: capitalize;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz .question-text{
    font-size: 22px;
    line-height: 28px;
    padding: 20px 0;
}
.quiz .question-text span.timer{
    text-align: right;
    float: right;
}
.quiz .question-text span.timer::before,
.quiz .question-text span.timer::before {
    content: '';
    display: block;
    clear: both;
}
.quiz .option-container .option{
    background: var(--secondary);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 22px;
    text-transform: capitalize;
    animation: fadeIn 0.3s ease forwards;
    opacity: 0;
    position: relative;
    overflow: hidden;
}
.quiz .option-container .option.correct,
.quiz .option-container .option.wrong{
    color: white;
}
.quiz .option-container .option.correct::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: green;
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;
}
.quiz .option-container .option.wrong::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;
}
.quiz .option-container .option.already-answered{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz .btn{
    margin: 15px 0;
}
.quiz .answers-indicator{
border-top: 1px solid var(--secondary);
}
.quiz .answers-indicator >div{
height: 40px;
width: 40px;
background: var(--secondary);
display: inline-block;
border-radius: 50%;
margin: 15px 3px 0 0;
background-size: 50%;
background-repeat: no-repeat;
background-position: center;
}
.quiz .answers-indicator >div.correct{
    background-color: green;
    background-image: url('./img/correct.png');
}
.quiz .answers-indicator >div.wrong{
    background-color: red;
    background-image: url('./img/wrong.png');
}
/* Result Component */
.result{
  text-align: center;
}
.result h1{
  font-size: 36px;
  color: var(--primary);
  line-height: 42px;
}
.result table{
  margin: 30px 0;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.result table td{
  border: 1px solid var(--secondary);
  width: 50%;
  padding:  8px 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}
.result .btn{
  margin-right: 15px;
}
/* Media Queries */
@media  screen and (max-width:720px){
  .btn{
      width: 100%;
  }
  .result .btn{
      margin-top: 15px;
  }
  .quiz .answers-indicator{
      text-align: center;

  }
  
}